@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
}
.text {
  flex: 0.4;
}
.text h1 {
  font-size: 70px;
  color: #1c2b66;
}
.text h2 {
  font-size: 30px;
  color: #1c2b66;
}
.text p {
  font-size: 17px;
  margin-top: 20px;
  width: 600px;
}
.image {
  flex: 0.6;
  padding: 50px;
  /* border-radius: 50%; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  object-fit: cover;
  /* border-radius: 50%; */
  width: 500px;
  height: 500px;
}
button {
  margin-top: 50px;
  padding: 13px 22px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.learn {
  color: white;
  background: #1c2b66;
  cursor: pointer;
  border: none;
}
.learn:hover {
  color: #1c2b66;
  background: #fff;
  outline: #1c2b66;
  cursor: pointer;
  transition: all ease-out 0.5s;
}
.faqs {
  border: none;

  background: white;

  color: #1c2b66;
}
.faqs:hover {
  border: 1px solid #1c2b66;
  transition: all ease-in-out 0.3s;
  color: #1c2b66;
}
